<template>
    <section class="posts-list">        
        <PostPreview 
          id = "1"
          thumbnail="https://photoartinc.com/wp-content/uploads/2018/03/technology-stock-photos-5.jpg"
          title="Hello there"
          previewText="This is my first post"
        />
        <PostPreview 
          id = "2"
          thumbnail="https://photoartinc.com/wp-content/uploads/2018/03/technology-stock-photos-5.jpg"
          title="Hello there"
          previewText="This is my second post"
        />
        <PostPreview 
          id = "3"
          thumbnail="https://photoartinc.com/wp-content/uploads/2018/03/technology-stock-photos-5.jpg"
          title="Hello there"
          previewText="This is my third post"
        />
      </section>
</template>

<script>
    import PostPreview from "@/components/Posts/PostPreview";
    export default {
        components:{
            PostPreview
        }
    }
</script>

<style scoped>
    .posts-list {
        display: flex;
        padding: 20px;
        box-sizing: border-box;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
</style>