<template>
<div class="container-fluid">
  <div class="about-page">
    <h1>This is my absolutely fantastic "About Me" Page!</h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br/>
        Totam officiis ab voluptatibus assumenda error quas deleniti eius? Suscipit, <br/>
        numquam? Quis aliquid non animi numquam amet voluptas dolorum sunt aspernatur <br/>
        commodi?
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br/>
        Totam officiis ab voluptatibus assumenda error quas deleniti eius? Suscipit, <br/>
        numquam? Quis aliquid non animi numquam amet voluptas dolorum sunt aspernatur <br/>
        commodi?
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br/>
        Totam officiis ab voluptatibus assumenda error quas deleniti eius? Suscipit, <br/>
        numquam? Quis aliquid non animi numquam amet voluptas dolorum sunt aspernatur <br/>
        commodi?
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br/>
        Totam officiis ab voluptatibus assumenda error quas deleniti eius? Suscipit, <br/>
        numquam? Quis aliquid non animi numquam amet voluptas dolorum sunt aspernatur <br/>
        commodi?
    </p>
  </div>
</div>
</template>

<style scoped>
    .about-page {
        text-align: justify;
        padding: 30px;
    }
</style>