<template>
  <div>
    <div class="home-page">
      <section class="intro">
        <h1>Get the latest Tech news</h1>
      </section>
      <PostList/>
    </div>
  </div>
</template>

<script>
import PostPreview from '~/components/Posts/PostPreview'
import PostList from '~/components/Posts/PostList'

export default {
  components:{
    PostPreview,
    PostList
  }
};
</script>

<style scoped>
.intro {
  height: 300px;
  position: relative;
  padding: 30px;
  box-sizing: border-box;
  background-position: center;
  background-image: url('~assets/images/main-page-background.jpg');
  background-size: cover;
  text-align: center;
}

.intro h1 {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%;
  font-size: 1.5rem;
  color: black;
  background-color: rgb(16, 115, 172);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px black;
  box-sizing: border-box;
  border: 1px solid black;
}

@media (min-width: 768px) {
  .intro h1 {
    font-size: 2rem;
  }
}
</style>